*{  
    margin: 0;
    padding: 0;

    /* Border box deixa o layout mais presivel e vita bug*/
    box-sizing:border-box ;
    list-style-type: none;
}


body{
    background-color: black;
    color: aliceblue;
    font-size: 16px;
    
}

header{
    position: fixed;
    top: 0;
    padding: 10px 90px;
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid rgb(146, 163, 184)
    /* Alterar Header 
    background-color: #000;

     min-height: 60px;
     min-width: 100%; */
    
}




header nav ul {
    display: grid;
    grid-template-columns: repeat(3 , 200px);
   
}

section{
   background: #020024;
background: #EEAECA;
background: radial-gradient(circle, rgb(201, 209, 204) 0%, rgb(233, 179, 148) 100%);    height: 100vh;
    position: relative;
}

.list{
    width: 70vw;
    margin: auto;
    height: 100vh;


    /*“Esse elemento fica na posição normal dele, mas posso movê-lo usando top, bottom, left e right em relação a essa posição original.” */
    position: relative;

}

.list::before{
  content: "";
  position: absolute;
  width: 20%; 
  height: 10px;
  top: 52%;

  left: 50%;
  transform: translateX(-50%); 


  border-top: 1px solid #ffffff;


}

.item{
    position: absolute;
    
    /* iNset vai colocar todos de uma vez como 0, top, botton left e right */
    inset: 0;
    opacity: 0;

}

.car-img{
     position: absolute;
     top: 50%;
     width: 70%;
     transform: translateY(-40%);
     left: 3%;
    }

    .img{
        width: 90%;
         transform: rotate(-30deg);
    }

.content{
    position: absolute;
    right: 15px;
    width: 70%;
    height: 100%;
    display: flex;

    /* Vai deixar tudo em cima do outro, em coluna*/
    top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}  

.subtitle{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
     letter-spacing: 2px;
}

.title{
    
   font-family: "Oswald", sans-serif;
     font-size: 3em;
     line-height: 1em;
     text-shadow: 2px 2px 8px rgba(0,0,0,0.5);

}

.description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: right;
    max-width: 400px;
    font-family: "Momo Trust Display", sans-serif;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}
 
.button{
    width: 120px;
    height: 35px;
    border-radius: 30px;
    background-color: rgb(185, 151, 37);
    color: rgb(255, 255, 255);
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    z-index: 5;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.button:hover{
    background-color:  rgba(185, 150, 37, 0.623)
}


.arrows{
    position: absolute;
    width: 75%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 5;
    cursor: pointer;
    pointer-events: none; 
}

.arrow-right, .arrow-left{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.897);
    cursor: pointer;

    pointer-events: auto; 
}

.arrow-right:hover, .arrow-left:hover{
       background-color: rgba(14, 13, 10, 0.767);
    border-color: #ffffff;
}

.indicators{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65%;
    left: 5%;
    transform: translateY(-50%);
    height: 200px;
    width: 90vh;
    justify-content: end;
    gap: 15px;
}

.number{
    font-size: 5em;
    font-family: "Momo Trust Display", sans-serif;
}

ul{
    display: flex;
    gap: 10px;
}

.indicators ul li{
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background-color: rgba(134, 113, 113, 0.712);
    transition: 0.5s;
   
}

/* Li Ativo */
.indicators ul li.active{
    background-color: aliceblue;
    box-shadow: 1px 1px 10px rgb(233, 233, 233);
}

/* --- ANIMAÇÃO DO CARRO PARANDO NA LINHA --- */



/* Linha */
.list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: 52%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #ffffff;
}

.logo{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
     letter-spacing: 2px;
     text-transform: uppercase;
}

.menu{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    letter-spacing: 2px;
}


.item-active{
    z-index: 1000;
    opacity: 1;
}